click==7.1.2
imageio==2.9.0
jupyter-bbox-widget==0.3.2
jupyterlab-widgets==1.0.1
matplotlib==3.4.2
neptune-client==0.9.18
notebook==6.4.3
openmim==0.1.4
pandas==1.2.5
POT==0.7.0
prettytable==2.2.1
pycocotools==2.0.2
seaborn==0.11.1
Send2Trash==1.8.0
simplejson==3.17.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==4.0.0
SQLAlchemy==1.4.25
stevedore==3.4.0
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
tabulate==0.8.9
tenacity==8.0.1
terminado==0.12.1
terminaltables==3.1.0
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.6.14
toml==0.10.2
tomli==1.2.0
torch==1.8.1
torchvision==0.9.1
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm @ git+https://github.com/tqdm/tqdm.git@058fe72d5608bed739754fdf05a946d03f95c03c
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typed-ast==1.4.3
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.5
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webcolors==1.11.1
webencodings==0.5.1
websocket-client==1.1.0
widgetsnbextension==3.5.1
wrapt==1.12.1
yapf==0.31.0
zipp==3.4.1
